# Somministrazioni

In [18]:
import pandas as pd

Read dataset `somministrazioni-vaccini-summary-latest.csv` and print basic info

In [19]:
dir = "../covid19-opendata-vaccini/dati/"
file = "somministrazioni-vaccini-summary-latest.csv"
df = pd.read_csv(dir + file)
df.head()

,data_somministrazione,area,totale,sesso_maschile,sesso_femminile,categoria_operatori_sanitari_sociosanitari,categoria_personale_non_sanitario,categoria_ospiti_rsa,categoria_over80,categoria_forze_armate,categoria_personale_scolastico,prima_dose,seconda_dose,codice_NUTS1,codice_NUTS2,codice_regione_ISTAT,nome_area
0,2021-02-01,PIE,8639,3053,5586,6163,1402,1074,0,0,0,578,8061,ITC,ITC1,1,Piemonte
1,2021-02-01,UMB,1260,333,927,876,32,352,0,0,0,47,1213,ITI,ITI2,10,Umbria
2,2020-12-31,LOM,713,300,413,656,57,0,0,0,0,713,0,ITC,ITC4,3,Lombardia
3,2021-01-04,PAB,469,191,278,397,72,0,0,0,0,469,0,ITH,ITH1,4,Provincia Autonoma Bolzano / Bozen
4,2021-02-23,MOL,527,202,325,136,42,8,340,0,1,362,165,ITF,ITF2,14,Molise

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1271 entries, 0 to 1270
Data columns (total 17 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   data_somministrazione                       1271 non-null   object
 1   area                                        1271 non-null   object
 2   totale                                      1271 non-null   int64
 3   sesso_maschile                              1271 non-null   int64
 4   sesso_femminile                             1271 non-null   int64
 5   categoria_operatori_sanitari_sociosanitari  1271 non-null   int64
 6   categoria_personale_non_sanitario           1271 non-null   int64
 7   categoria_ospiti_rsa                        1271 non-null   int64
 8   categoria_over80                            1271 non-null   int64
 9   categoria_forze_armate                      1271 non-null   int64
 10  categoria_personale_scolastico              1271 non-null   int64
 11  prima_dose                                  1271 non-null   int64
 12  seconda_dose                                1271 non-null   int64
 13  codice_NUTS1                                1271 non-null   object
 14  codice_NUTS2                                1271 non-null   object
 15  codice_regione_ISTAT                        1271 non-null   int64
 16  nome_area                                   1271 non-null   object
dtypes: int64(12), object(5)
memory usage: 168.9+ KB

In [21]:
df.describe()

,totale,sesso_maschile,sesso_femminile,categoria_operatori_sanitari_sociosanitari,categoria_personale_non_sanitario,categoria_ospiti_rsa,categoria_over80,categoria_forze_armate,categoria_personale_scolastico,prima_dose,seconda_dose,codice_regione_ISTAT
count,1271.000000,1271.000000,1271.000000,1271.000000,1271.000000,1271.000000,1271.000000,1271.000000,1271.000000,1271.000000,1271.000000,1271.000000
mean,3370.515342,1286.628639,2083.886703,1833.510622,574.586939,312.675059,480.731707,48.828482,120.182533,2269.975610,1100.539732,10.202990
std,3664.616308,1362.118700,2363.495901,2179.299857,921.973942,507.332638,1289.601956,218.374270,584.976690,3148.261465,2404.907816,5.822548
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,730.500000,274.500000,437.000000,326.500000,62.000000,18.000000,0.000000,0.000000,0.000000,231.500000,0.000000,5.000000
50%,1916.000000,736.000000,1177.000000,940.000000,265.000000,151.000000,0.000000,0.000000,0.000000,880.000000,144.000000,10.000000
75%,5210.500000,1954.500000,3093.000000,2590.000000,638.000000,391.500000,90.000000,0.000000,1.000000,3007.000000,891.000000,15.000000
max,26769.000000,7880.000000,18930.000000,15187.000000,9914.000000,5436.000000,9674.000000,1882.000000,7056.000000,26187.000000,24905.000000,20.000000

#### Total number of vaccine administrations performed so far:

In [22]:
df['totale'].sum()

4283925